/*     ¡¡¡¡¡¡A T E N C I O N!!!!!!
.    Muchas gracias por su atencion.
Y si kp me tome el tiempo de comentar todo
este divague porque si no me pierdo y asi
lgm estos comentarios ko son para mi nm luego
porque si no chauche y me olvido todito lo 
que escribi y de paso puedo purgar tambien mi
codigo onda laxante pilla pio. 
Y que no tenga tanta porqueria que no
sirve para nada (como yo para mi familia)
Si si si como que no claro que si
aguante cerro kpelu al que le gusta le
gusta al que no que se disfrace de cualquier
tuca otimbo oime foquito prendido ha togue.
                Muchas gracias */



                                        /*FUENTES*/

@font-face {
    font-family: 'lokeya';
    src: url('/Fuentes/Lokeya.otf') format('truetype');
}


@font-face {
    font-family: 'googlesans';
    src: url('/Fuentes/googlesans.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto-light';
    src: url('/Fuentes/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('/Fuentes/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'monof55';
    src: url('/Fuentes/monof55.ttf') format('truetype');
}



                                            /*BODY*/

body {
    display: flex; /* <-- para que se alinee todo chetito*/
/* <-- para que se centre todo en horizontal*/
    align-items: center; /* <-- para que se centre todo en horizontal*/
    height: 80vh; /* <-- para que ocupe el 100% del tamanio de la pag, asi es no tengo la enie*/
    flex-direction: column; /* <-- para que se ponga todo uno encima de otro*/
    background-color: #f7f3f2; /* <-- el color todo chetazo asi color pod*/
}

                                            /*TEXTOS*/

h2 {
    filter: drop-shadow(0px 4px 12px #000000); /* <-- sombra del texto*/
    padding-left: 1%; /* <-- para que se aleje  */
    font-family: 'googlesans'; /* <-- la fuente*/
    font-weight: bold; /* <-- pa que sea nigga'i (negrita)*/
    color: white; /* <-- el color del texto */
    font-size: 40px;
}
        /* <-- aca ya lo mismo de arriba */
h3 {
    font-family: 'googlesans';
    color: white;
    font-size: 12px;
    font-weight: lighter;
}

h4 {
    filter: drop-shadow(0px 4px 12px #000000);
    font-family: 'googlesans';
    color: white;
    font-size: 20px;
    font-weight: bold;
}

                                        /*SOBRE NOS*/

.links{
    margin: 0 auto;
    padding-left: 35%;
}


                                        
.nav-link { /* <-- este es el boton "sobre nosotros"*/
    margin-left: auto; /* para que este hacia la derecha */
    margin-right: 20px; /* <-- para que no se pegue todo */
    font-family: 'googlesans'; /* <-- para la fuente que quede todo facha*/
    color: white; /* <-- feroz ahi dice qlq buscas*/
    text-decoration: none; /* <-- este le puse pq no me gusta que este subrayado jaajaj tembopire*/
    font-size: 24px; /* <-- el tamano de mi pi, de la fuente */
    transition: color 0.3s ease; /* <-- para que el cambio de color sea re facha */
}

.nav-link:hover {
    color: #13b0a2; /* <-- y este es el que cambia de color*/
}

.navlink{ /* <-- este es el boton "sobre nosotros"*/
    margin-left: auto; /* para que este hacia la derecha */
    margin-right: 20px; /* <-- para que no se pegue todo */
    font-family: 'googlesans'; /* <-- para la fuente que quede todo facha*/
    color: white; /* <-- feroz ahi dice qlq buscas*/
    text-decoration: none; /* <-- este le puse pq no me gusta que este subrayado jaajaj tembopire*/
    font-size: 16px; /* <-- el tamano de mi pi, de la fuente */
    transition: color 0.3s ease; /* <-- para que el cambio de color sea re facha */
}

.navlink:hover {
    color: #13b0a2; /* <-- y este es el que cambia de color*/
}


li{
    margin-left: 500px;
    list-style-type: none;
}
                                            /*IMAGENES*/

.logotipo{ /* <-- el logo que esta centrado a la izq del fromulario*/
 /* <-- para que tenga sombra alrededor  */
    height: 20%; /* <-- el tamano */
    padding: 0 auto; /* <-- para q se centre*/
    margin-top: 150%; /* <-- lo mismo de arriba*/
    padding-left: 11%; /* <-- lo mismo otv*/
}


.logo { /* <-- el logo que esta arriba mismo a la derecha */
    filter: drop-shadow(0px 4px 12px #000000); /* <-- sombra */
    height: 40%; /* <-- tamaniooooo */
    padding: 5%; /* <-- pa que no se pegue por nada*/
}

.logo2{ /* <-- este es el logo que esta abajo mismo a la derecha tambien*/
    height: 30%; /* <-- en serio pio no sabes todavia para que es esto*/
    padding: 12px; /* <--???????*/
}


                                            /*DIVS*/

.header { /* <-- este es el div que esta arriba mismo */
    filter: drop-shadow(0px 4px 6px #000000);/* <-- sombra... ota vez */
    margin: -1%; /* <-- esto de aca puse porque se iba todito hacia arriba y no se como pero poniendo asi se soluciono jajajajajjaja nde tavy onde lekaja que locura en serioite ni cuando fumo chespi me divago asi de fuerte como se divago este mi codigo tembo que loco sabes que me voy a ir a quemar la casa del que invento html no se lgm quien es pero le voy a buscar y le voy a hacer un padding en se cara con una palanca para sacar la rueda del auto que loco nervioso estoy kp dm nervioso ya aaaaaaaaaaaa*/
    width: 100%; /* <-- para que su largo sea el 90 de la pantalla (horizontal) */
    height: 12%; /* <-- altura */
    background-color:  #243545; /* <-- ...... */
    display: flex; /* <-- para que se centre (verticalmente) */
    color: white; /* <-- color del texto*/
    align-items: center; /* <-- para que se centre tambien */
    justify-content: left; /* <-- para que se vaya a la izquierda*/
    border-bottom-left-radius: 24px; /* <-- para la parte redonda */
    border-bottom-right-radius: 24px; /* <-- lo mismo de arriba */
}

.footer { /* <-- el div que se encuentra abajo mismo*/
    filter: drop-shadow(0px 4px 12px #000000); /* <-- para la sombra */
    width: 100%; /* <-- para que su largo sea el 90 de la pantalla (horizontal) */
    height: 16%; /* <-- altura */
    background-color:  #243545; /* <-- tembo */
    display: flex; /* <-- para que se centre (verticalmente) */
    margin-top: 4%;
    margin-bottom: -35%;
    color: white; /* <-- color del texto */
    align-items: center; /* <-- para que se centre */
    justify-content: center; /* <-- para que se vaya a la izquierda*/
    border-top-left-radius: 24px; /* <-- para la parte redonda */
    border-top-right-radius: 24px;  /* <-- lo mismo de arriba */
}

.contenedor{  /* <-- este div tiene los otros dos divs (formulario (derecha) y logo (izquierda)) adentro */
    filter: drop-shadow(0px 4px 6px #000000);  /* <-- sombra */
    display: flex;  /* <-- para que se acomoden uno al lado del otro y no encima */
    width: 50%;  /* <-- su ancho con respecto al tamno de la pagina */
    height: 70vh;  /* <-- cuanto del alto de la pantalla ocupa */
    background-color: transparent;  /* <-- .|. */
    margin-top: 2%;  /* <-- pa que no se pegue */
    border-radius: 24px;  /* <-- pa que sea redondo */
}

.derecha {  /* <-- este contiene el formulario */
    width: 80%; /* <-- su ancho con respecto al tamno de la pagina */
    height: 100%; /* <-- cuanto del alto del div (contenedor) ocupa */
    background-color: #243545; /* <-- el color de tu */
    padding: 20px; /* <-- pa que no se pegue por nada*/
    border-top-right-radius: 24px; /* <-- pa que sea redondo */
    border-bottom-right-radius: 24px; /* <-- pa que sea redondo tb */
    justify-content: center;
}

.izquierda { /* <-- este contiene el logo y contiene todo lo mismo de arriba asi que no voy a comentar. jodete*/
    width: 20%; 
    height: 100%;
    background-color: #13b0a2;
    padding: 20px;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}

                                            /*PAGINA 2*/


.bloque{  /* <-- este div tiene los otros dos divs (titulo (arriba) y contenido (abajo)) adentro*/
    filter: drop-shadow(0px 4px 6px #000000);
    display:table-column; /* <-- para que esten uno encima de otro como yo con */
    align-items: center; /* <-- para que se centren, creo */
    width: 50%; /* <-- para que ocupe el 50% del largo horizontal de la pagina*/
    height: 40vh; /* <-- lo mismo de arriba pero en vertical */
    background-color: transparent;
    margin-top: 6%; /* <-- para que se aleje del coso de arriba */
    border-radius: 24px; /* <-- le hace redondo */
    margin-bottom: 12%;
}

.titulo{ /* <-- en este div dice: INGRESA EL NUMERO DE IDENTIFICACION*/
    width: 100%; /* <-- para que ocupe el 100% del ancho del div (bloque)*/
    height: 10%; /* <-- para que ocupe el 10% de la altura del div */
    margin-top: 5%; /* <-- este creo que no hace nada pero vamos a dejarle ahi porque se porta bien*/
    padding: 19px; /* <-- para que el texto no se pegue*/
    background-color: #13b0a2;
    padding-bottom: 10%; /* <-- lo mismo q arriba*/
    border-top-right-radius: 24px; 
    border-top-left-radius: 24px;
    text-align: center; /* <-- para que el texto se centre horizontalmente */
}

.contenido{ /* <-- este div es el de abajo y aca esta el input*/
    width: 100%;
    height: 90%;
    margin-top: 0px;
    background-color: #243545;
    padding: 19px; 
    padding-bottom: 0;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
    display: flex;
    justify-content: center;
}

.info{
    color: white;
    font-family: 'googlesans';
    font-size: 24px;
}

.identificador label{
    margin-top: 20%;
    display: block;
    margin-bottom: 2px;
    margin-right: 200px;
}

.identificador input{
    width: 100%;  
    padding: 3%;
    margin-top: 2px;
    border: 1px solid #ccc;
    font-size: 24px;
}

.identificador button {
    filter: drop-shadow(0px 4px 6px #000000);
    font-family: 'googlesans';
    margin-top: 20px;
    margin-bottom: -30px;
    padding: 10px;
    background-color: #13b0a2;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* También para el botón */
    width: 107%;
}

.identificador button:hover { /*<--- Este hace que el boton cambie de coloe*/
    background-color:  #204669;
}

.imagen{ /* <-- el div para poner la imagen de referencia del qr*/
    width: 35%;
    height: 100%;
    background-color: transparent;
    margin-top: -18px;
    margin-bottom: 0;
    margin-right: 50px;
    display: flex;
    place-items: center;
}

.qr{ /* <-- la imagen del qr*/
    height: 70%;
    margin-left: 24px;
}


/*INPUTAS*/

input::placeholder {
    color: #ccc;
    font-style: none;
    font-family: 'googlesans';
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 100%; /* Asegura que el formulario ocupe el ancho completo de su contenedor */
}

.formulario label {
    font-family: 'googlesans';
    margin-top: 10px;
    font-weight: 50;
    color: white;
    font-size: 14px;
    margin-bottom: 2px;
    padding-top: 6px;
}

.formulario input {
    width: 90%;  /* Cambié a 100% para que los inputs ocupen todo el ancho disponible */
    padding: 8px;
    margin-top: 5%;
    border: 1px solid #ccc;
    border-radius: 0px; /* Un pequeño borde redondeado para que se vea más moderno */
}

.formulario button {
    filter: drop-shadow(0px 4px 6px #000000);
    font-family: 'googlesans';
    margin-top: 5%;
    margin-bottom: -20px;
    padding: 10px;
    background-color: #13B0A2;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* También para el botón */
}

.formulario button:hover { /*<--- Este hace que el boton cambie de coloe*/
    background-color: #243545;
}


/*toooda esta parte es joda, no den bola*/

.tyc{
    color: transparent;
    margin: 10px;
    color: white;
    font-family: 'googlesans';
    padding: 15px;
    font-size: 16px;
}

input[type="checkbox"]{
    margin-left: -25px;
    margin-top: 2px;
    background-color: white;
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: relative;
    vertical-align: middle;
}


.checkbox-label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'monof55';
    color: white;
    cursor: pointer;
}

                                            /*RADIOS*/
.columna-izquierda,
.columna-derecha {
    flex: 1; /* <-- este hace que los inputs sean simetricos */
    display: flex; /* <-- para que se acomoden  */
    flex-direction: column; /* <-- para que esten uno encima de otro y al ado */
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario input[type="date"] {
    margin-left: 0px; /* <-- para que se queden lejos de la izquierda gua u */
}


.radio-container{ /* <-- aca se tunea purete los radios*/
    display: flex;
    flex-wrap: wrap; /* <-- este haceque los radios se acomoden en varias filas */
    gap: 1px; /* <-- el espacio entre redondito y redondito */
    justify-content: space-between; /* <-- gua u queistribuye los elementos dentro del contenedor yo no se */
}

.radio-container label { /* <-- para las letras del radio*/
    font-family: 'googlesans';
    color: rgb(255, 255, 255);
    font-size: 10px; /* <-- el tamano de mi, de las letras alado del radiokueras*/
    display: flex; /* <-- este hace que las letras esten al lado de los radios, no como pero asi es*/
    align-items: center;
    gap: 2px; 
}

.radio-container input[type="radio"] { /* <-- aca es para el tamno de los radios */
    transform: scale(0.8); /* <-- para q los radios sean mas chikitos */
}

/*sobre nosotros*/

.header3{ /* <-- este es el div que esta arriba mismo y es lo mismo que el header excepto en lo que aclaro */
    filter: drop-shadow(0px 4px 6px #000000);
    margin-top: 100px;  /* <-- esto por lo mismo de hace rato, si le saco se va haacia abajo y asi solucione*/
    margin-bottom: 15px; /* <-- este tambien para lo mismo de arriba, ni yo entiendo*/
    width: 90%; /* <-- su largo */
    height: 13vh; /* <-- su alto */
    background-color: #3B3B3F; 
    display: flex; /* <-- para que se centre el logo*/
    color: white; /* <-- color del texto*/
    align-items: center; /* <-- pa q c cntre l logo tb*/
    justify-content: left; /* <-- para q el logo se vaya a la izquierda*/
    border-bottom-left-radius: 24px; /* <-- pa que sea redondito */
    border-bottom-right-radius: 24px; /* <-- lo mimo d arriba*/
}

.texto{
    width: 38%;
    height: 80%;
    background-color: transparent;
    margin-top: 5%;
    margin-bottom: 0;
    margin-right: 50px;
    display: flex;
    place-items: center;
}

.imgtext{
    height: 100%;
}
.footer3 { /* <-- otro footer que tiene lo mismo que el otro */
    filter: drop-shadow(0px 4px 12px #000000);
    width: 90%;
    height: 60px;
    background-color: #3B3B3F;
    display: flex;
    margin-top: 80px;
    margin-bottom: -90px;
    color: white;
    align-items: center;
    justify-content: left;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}
.terminos{
    background-color: white;
    height: 75vh;
    width: 85%;
    padding: 20px;
    margin-bottom: -30px;
    align-items: center;
    display: block;
}

p{
    font-size: 24px;
}

h5{
    font-size: 32px;
    font-weight: bolder
}

.header4{ /* <-- este es el div que esta arriba mismo y es lo mismo que el header excepto en lo que aclaro */
    filter: drop-shadow(0px 4px 6px #000000);
    margin-top: 10px;  /* <-- esto por lo mismo de hace rato, si le saco se va haacia abajo y asi solucione*/
    margin-bottom: 15px; /* <-- este tambien para lo mismo de arriba, ni yo entiendo*/
    width: 90%; /* <-- su largo */
    height: 13vh; /* <-- su alto */
    background-color: #3B3B3F; 
    display: flex; /* <-- para que se centre el logo*/
    color: white; /* <-- color del texto*/
    align-items: center; /* <-- pa q c cntre l logo tb*/
    justify-content: left; /* <-- para q el logo se vaya a la izquierda*/
    border-bottom-left-radius: 24px; /* <-- pa que sea redondito */
    border-bottom-right-radius: 24px; /* <-- lo mimo d arriba*/
}

.logoboton{
    height: 100%;
    margin-top: 2%;
    margin-left: 4%;
}

.select-fachero {
    margin-top: 16px;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
    font-family: 'googlesans';
}